{% extends 'learn/wrapper.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load i18n %}
<section class="row section-main">
    <div class="col-lg-6 col-6">
        <a href="{% url 'category_list' 'male' %}" class="photo">
            <h1>{% trans 'Мужчины' %}</h1>
            {% load static %}
                <img src="{% static 'main/image/men_1224-removebg.png' %}" />
            <div class="glow-wrap">
                <i class="glow"></i>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-6">
        <a href="{% url 'category_list' 'female' %}" class="photo">
            <h1>{% trans 'Женщины' %}</h1>
            {% load static %}
                <img src="{% static 'main/image/girl_1224-removebg.png' %}" />
            <div class="glow-wrap">
                <i class="glow"></i>
            </div>
        </a>
    </div>
</section>

{% endblock %}