{% extends 'learn/wrapper.html' %}
{% block title %}{{g}} {{type_prod.p_type}}{% endblock %}
{% block content %}
{% load i18n %}
<div class="row text-center p-3 cont-info-type">
    <p class="h3 title-type">{{g}} {{type_prod.p_type}}</p>
    <p class="desc">{{type_prod.description}}</p>
</div>


<div class="container">
{% for item in prod_list %}
    <a href="{% url 'prod_info' people item.id_prod %}" class="d-flex prod-cont flex-wrap p-3">
        <img src="{{item.image.url}}" alt="">
        <span class="name">{{item.prod_name}}</span>
        <span class="price">{% trans 'Цена' %}: {{item.price}},00 {% trans 'руб' %}</span>
    </a>
{% endfor %}
</div>
{% endblock %}