{% extends 'learn/wrapper.html' %}{% load i18n %}
{% block title %}{{prod.prod_name}}{% endblock %}
{% block content %}
<div class="row">
{% block comeback %}
    
{% endblock %}
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="row">
            <div class="imglist col-md-7 col-lg-6 px-5 pb-5 pt-3">
                <div class="swiper-container swiper-container-s d-flex">
                    <div class="swiper-pagination d-flex flex-column"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{prod.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                        </div>
                        {% for img in imgs %}
                        <div class="swiper-slide">
                            <img src="{{img.image.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="col-md-4 col-lg-5">
                <div class="h4 p-3">{{prod.prod_name}}</div>
                <div class="h4 p-3">{% trans 'Цена' %}: {{prod.price}},00 {% trans 'руб' %}</div>

                {% if basket|length == 0 %}
                    <button class="btn-success btn" id="buscket" name="busk" value="{{prod.id_prod}}">{% trans 'Добавить в корзину' %}</button>
                {% else %}
                    <button class="btn-danger btn" id="buscket" name="busk" value="{{prod.id_prod}}">{% trans 'Добавить в корзину' %}</button>
                {% endif %}

                <button class="heart" id="heart" value="{{prod.id_prod}}">
                {% if fav|length == 0 %}
                    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-heart d-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-heart-fill d-none" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                {% else %}
                    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-heart d-none" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-heart-fill d-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                {% endif %}
                {% trans 'Добавить в избранное' %}
                </button>
                
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
        <div class="row d-flex flex-wrap justify-content-around info">
        {% if prod.info %}
            <div class="col-12 col-md-4 text-center p-3"><p class="h4">{% trans 'Информация' %}</p>{{prod.info}}</div>
        {% endif %}
        {% if prod.about %}
            <div class="col-12 col-md-4 text-center p-3"><p class="h4">{% trans 'Обо мне' %}</p>{{prod.about}}</div>
        {% endif %}
        {% if prod.upkeep %}
            <div class="col-12 col-md-4 text-center p-3"><p class="h4">{% trans 'Уход' %}</p>{{prod.upkeep}}</div>
        {% endif %}
        {% if prod.size_and_cut %}
            <div class="col-12 col-md-4 text-center p-3"><p class="h4">{% trans 'Размер и шов' %}</p>{{prod.size_and_cut}}</div>
        {% endif %}
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}