{% extends 'learn/wrapper.html' %}
{% block content %}

<div>
    <p class="h4 p-3">{{cat.category}}</p>
    <div class="d-flex justify-content-around flex-wrap">
    {% for type in types %}
        <a href="{% url 'prod_type_list' people cat.url type.url %}" class="d-flex flex-wrap justify-content-center cont-type m-2">
            <img src="{{type.image.url}}" width="150" height="200" alt="">
            <span class="w-100">{{type.p_type}}</span><br>
        </a>
    {% endfor %}
    </div>
</div><br>

{% endblock %}