{% extends 'learn/wrapper.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}
<div class="container">
{% for el in cat %}
    <div>
        <p class="h4 p-3">{{el.category}}</p>
        <div class="d-flex justify-content-start flex-wrap px-5">
        {% for type in types %}
            {% if type.category|safe == el.category|safe %}
            <a href="{% url 'prod_type_list' people el.url type.url %}" class="cart d-flex flex-wrap justify-content-center cont-type px-3">
                <img src="{{type.image.url}}" class="img-fluid" alt="">
                <span class="w-100 d-flex justify-content-center align-items-end">{{type.p_type}}</span>
            </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}