{% extends 'learn/wrapper.html' %}
{% block content %}

<div class="row">
    <p class="h3">
        Результат поиска "{{search_value}}"
    </p>
</div>

<div class="row">
{% for item in prod_list %}
    <a href="{% url 'search_prod_info'  item.id_prod search_value %}" class="d-flex prod-cont flex-wrap p-3">
        <img src="{{item.image.url}}" alt="">
        <span class="name">{{item.prod_name}}</span>
        <span class="price">Цена: {{item.price}},00 руб</span>
    </a>
{% endfor %}
</div>

{% endblock %}